// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e2e2e2;
@light-gray: #c3c3c3;
@gray: #353535;
@dark-gray: #303030;
@very-dark-gray: #272727;

@cyan: #75b5aa;
@blue: #8ab4f8;
@purple: #aa759f;
@green: #90a959;
@red: #ac4142;
@orange: #f4bf75;
@light-orange: #f6cb90;
