// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e0e0e0;
@light-gray: #bdbdbd;
@gray: #818181;
@dark-gray: #5d5d5d;
@very-dark-gray: #353535;

@cyan: #75b5aa;
@blue: #6a9fb5;
@purple: #aa759f;
@green: #90a959;
@red: #bc6667;
@orange: #f4bf75;
@light-orange: #f6cb90;
